<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm sinh viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssform.css') }}">
</head>
<body>
    <h1>Thêm sinh viên</h1>
    <form method="POST">
        <label for="ma_sv">Mã sinh viên:</label>
        <input type="text" id="ma_sv" name="ma_sv" required><br>

        <label for="ho">Họ:</label>
        <input type="text" id="ho" name="ho" required><br>

        <label for="ten">Tên:</label>
        <input type="text" id="ten" name="ten" required><br>

        <label for="lop">Lớp:</label>
        <input type="text" id="lop" name="lop" required><br>

        <!-- Khoa: Dropdown list -->
        <label for="ma_khoa">Khoa:</label>
        <select id="ma_khoa" name="ma_khoa" onchange="updateMonHoc(this.value)" required>
            <option value="">Chọn Khoa</option>
            {% for khoa in khoa_list %}
                <option value="{{ khoa[0] }}">{{ khoa[1] }}</option>
            {% endfor %}
        </select><br>

        <!-- Môn học: Dropdown list -->
        <div class="form-group">
            <label for="student-monhoc">Môn Học:</label>
            <select id="student-monhoc" name="student_monhoc" required>
                {% for subjects  in subjects %}
                <option value="{{ subjects[0] }}">{{ subjects[1] }}</option>
            {% endfor %}
            </select>
        </div><br>

        <label for="ma_dd">Mã Điểm Danh:</label>
        <input type="text" id="ma_dd" name="ma_dd" required><br>

        <button type="submit">Thêm</button>
    </form>
</body>
</html>
