<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm khoa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssform.css') }}">
</head>
<body>
    <h1>Thêm khoa</h1>
    <form method="POST">
        <label for="ma_khoa">Mã khoa:</label><br>
        <input type="text" id="ma_khoa" name="ma_khoa" required><br><br>

        <label for="ten_khoa">Tên khoa:</label><br>
        <input type="text" id="ten_khoa" name="ten_khoa" required><br><br>

        <button type="submit">Thêm</button>
    </form>
</body>
</html>
